* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {

}

body {
	background-color: #000000;
	font-family: sans-serif;
	font-size: 10pt;
}

img {
	border: none;
}

ul, ol {
	list-style-type: none;
}

h1 {
	margin: 0.25em;
	font-size: 150%;
	font-weight: bold;
}

h2, h3, h4, h4, h6 {
	margin-bottom: 0.25em;
	font-size: 125%;
	font-weight: bold;
}

input {
	margin: 0.25em;
	font-family: inherit;
	font-size: 100%;
	font-weight: normal;
	text-decoration: none;
}

header, footer, section, div {
	display: block;
}

video {
	display: block;
	background-color: #000000;
}

#views {
    display: flex;
    flex-wrap: wrap;
    max-height: 100vh;
}

#views video {
    flex-grow: 1;
    max-height: 100vh;
}
